In [0]:
---https://docs.databricks.com/aws/en/large-language-models/ai-functions

SELECT Age, ai_query(
    "databricks-meta-llama-3-3-70b-instruct",
    "Mention in which age group the age of passengers are. I want it to be in 3 groups, less than 30, 30 to 60 and 60 plus " || Age
) AS age_group
FROM workspace.titanic_dataset.titanic

---

SELECT ai_gen('Generate a concise, cheerful email title for a summer bike sale with 20% discount');

SELECT ai_gen('Explain briefly about Nepal ?')